# Arquivos compilados
bin/
target/
*.class
*.jar

# Arquivos de persistência
*.bin

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# Arquivos temporários
*.tmp
*.temp
*~ 